
#fft {
  border: 1px solid black;
  cursor: crosshair;
  background: #111;
}

#debug {
  border: 1px solid black;
  cursor: crosshair;
  background: #000;
}

#instructions {
  float: left;
  width: 10em;
}

#instructions div {
  cursor: pointer;
}

#instructions b{
  display: inline-block;
  width: 1em;
  text-align: center;
  padding: 2px;
}

#colour-k b {
  background: #0ff;
  color: #000;
}
#colour-m b {
  background: #f00;
  color: #000;
}
#colour-f b {
  background: #0f0;
  color: #000;
}
#colour-r b {
  background: #ff0;
  color: #000;
}
#colour-n b {
  background: #f0f;
  color: #000;
}
#colour-e b {
  background: #000;
  color: #fff;
}
#colour-p b {
  background: #fff;
  color: #000;
  border:1px solid #666;
}
