body {
  background: black;
  color: #ccc;
  font-family: sans-serif;
}

#form{
  display: inline;
}

span.message {
  color: #ffa;
  margin-right: 10px;
}

#content {
  position:relative;
}

#background {
  position:absolute;
  top: 0;
  left:0;
}

#fft {
  border: 1px solid black;
  cursor: crosshair;
  background: #111;
}

#drawing {
  position:absolute;
  top: 0;
  left:0;
  z-index: 11;

  cursor: crosshair;
}

#cursor {
  position:absolute;
  top: 0;
  left:0;
  z-index: 1;
  cursor: crosshair;
}

#debug {
  border: 1px solid black;
  cursor: crosshair;
  background: #000;
}
