body {
  background: black;
  color: #ccc;
  font-family: sans-serif;
}

#form{
  display: inline;
}

#instructions {
  font-size: 80%;
  background: #333;
}

p{
  margin: 2px;
  padding: 0;
  line-height: 1.4;
}


#instructions b {
  background: #996;
 color: black;
  padding: 0px 2px;
}

span.message {
  color: #ffa;
  margin-right: 10px;
}

#content {
  position:relative;
}

#background {
  position:absolute;
  top: 0;
  left:0;
}

#fft {
  border: 1px solid black;
  cursor: crosshair;
  background: #111;
}

#drawing {
  position:absolute;
  top: 0;
  left:0;
  z-index: 11;
  cursor: crosshair;
}

#moving {
  position:absolute;
  top: 0;
  left:0;
  z-index: 2;
}


#debug {
  border: 1px solid black;
  cursor: crosshair;
  background: #000;
}
