<!DOCTYPE html>
<html>
<head>  <meta charset="utf-8">

  <title>Morepork detector</title>
  <script>
    var URL = '{{wavdir}}/{{ wav }}'
  </script>
  <script type="text/javascript" src="static/dsp.js"></script>
  <script type="text/javascript" src="static/audio.js"></script>
  <link rel="stylesheet" href="static/sonogram.css" />
</head>
<body>
<form id=form method=post>
  <div id=message></div>
  <p><span class=message>{{ msg }}</span> So far {{moreporks_found}} calls found in {{files_processed}} files. {{files_ignored}} files have been ignored. There are {{ files_remaining }} to go.
<br>
Click to toggle activity. Shift-click to move. Ctrl-click to grow or
create. Alt-click to shrink.

<button id=save-button>save</button>
<input type=submit id=ignore name=ignore title="use to permanently ignore bad or tricky examples" value=ignore>
<input type=submit id=skip name=skip title="skip this one for now" value=skip>

<input type=hidden name=wav value="{{ wav }}">
<input type=hidden id=moreporks name=moreporks>

</p>
</form>

<div id=content>
  <div id=background>
  <canvas id="fft" width="1200" height="500"></canvas>
  <canvas id="debug" width="1200" height="600"></canvas>
  </div>
  <canvas id="drawing" width="1200" height="500"></canvas>
</div>
<canvas id="cursor" width="50" height="50"></canvas>

</body>
</html>
