<!DOCTYPE html>
<html>
<head>  <meta charset="utf-8">

  <title>Morepork detector: {{ wav }}</title>
  <script>
    var URL = '{{wavdir}}/{{ wav }}'
  </script>
  <script type="text/javascript" src="static/dsp.js"></script>
  <script type="text/javascript" src="static/morepork.js"></script>
  <script type="text/javascript" src="static/audio.js"></script>
  <link rel="stylesheet" href="static/sonogram.css" />
</head>
<body>
<form id=form method=post>
 <div id=instructions>
<b>Click</b> to toggle/play. <b>Shift-click</b> to move.
<b>Ctrl-click</b> to create or resize right.
<b>Ctrl-shift-click</b> to resize left.
<b>Space</b> to play/pause.
<b>M</b> to merge overlapping calls.
</div>
 <div id=message></div>
<p>
So far {{moreporks_found}} calls found in {{files_processed}} files. {{files_ignored}} files have been ignored, and {{files_interesting}} have been marked interesting. There are {{ files_remaining }} to go.
<br>
<span class=message>{{ msg }}</span>
<br>
Looking at <b>{{wav}}</b>
<span id=buttons>
<button id=save-button>save</button>
<input type=submit id=ignore name=ignore title="use to permanently ignore bad or tricky examples" value=ignore>
<input type=submit id=skip name=skip title="skip this one for now" value=skip>
<input type=checkbox id=interesting name=interesting
       title="tick if this file is interesting" value=skip>Interesting.

<input type=hidden name=wav value="{{ wav }}">
<input type=hidden id=moreporks name=moreporks>
</span>

</p>
</form>



<div id=content>
  <div id=background>
  <canvas id="fft" width="1200" height="500"></canvas>
  <canvas id="debug" width="1200" height="600"></canvas>
  </div>
  <canvas id="moving" width="1200" height="500"></canvas>
  <canvas id="drawing" width="1200" height="500"></canvas>


</div>

</body>
</html>
